body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif!important;
}
html::-webkit-scrollbar {
		width: 0px;
		background: transparent;
}
html::-webkit-scrollbar-thumb {
		background: transparent;
}
*{
	outline: none !important;
}
.no-select {
	-webkit-touch-callout: none !important;
		-webkit-user-select: none !important; 
			-khtml-user-select: none !important;
				-moz-user-select: none !important; 
				-ms-user-select: none !important;
						user-select: none !important;
}
:root {
	--background: rgba(207, 224, 235, 0.5) !important;
	--black: #212A39 !important;
	--blue : #255CA8 !important;
	--light-black: rgba(33, 42, 57, 0.75) !important;
	--red: #E94B35 !important;
	--ff-SourceSansPro : 'Source Sans Pro', sans-serif !important;
	--drawerwidth: 340px;
}

.float-right{
	float: right !important;
}
.float-left{
	float: left !important;
}
.dis-inline-block{
	display: inline-block !important;
}
.dis-flex{
	display: flex !important;
}
.dis-none{
	display: none !important;
}
.width-50{
	width: 50% !important;
}
.width-100{
	width: 100% !important;
}
.dis-block{
	display: block !important;
}
.text-align-left{
	text-align: left !important;
}
.text-align-right{
	text-align: right !important;
}
.text-align-center{
	text-align: center !important;
}
.black-txt{
	color: var(--black) !important;
}
.gray-txt{
	color: var(--light-black) !important;
}
.blue-txt{
	color: var(--blue) !important;
}

.font-20{
	font-size: 20px;
	color: var(--black);
}

.font-16{
	font-size: 16px;
	color: var(--black);
}

.text-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.center-all{
  display:flex !important;
  justify-content:center !important;
  align-items:center !important;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

/* Loader */
.visible-loader {
	background:url('../assests/loader.svg') center no-repeat;
	display:inline-block;
	font-size:0;height:100%;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:9999;
	background-color: rgba(255,255,255,0.6)
}

/* Main Body(Siderbars) */

.main-body{
	background-color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif!important;
}

.navbar-container{
	display: flex;
	min-height: 100vh;
}

.navbar-container .MuiToolbar-regular {
	min-height: 90px!important;
}

.navbar-container .makeStyles-drawerHeader-5{
	min-height: 32px!important;
}

.navbar-container .MuiAppBar-colorPrimary{
	color: var(--black);
	background-color: white;
}

.navbar-container .MuiPaper-elevation4 {
	/* box-shadow: none!important; */
	box-shadow: 0 2px 8px 0 rgba(141, 144, 150, 0.25);
  
}

.navbar-container .MuiDrawer-paper{
	overflow-y: initial!important;
}

.navbar-container .MuiDrawer-paperAnchorDockedLeft{
	border: none!important;
}

.drawer {
	width: var(--drawerwidth);
	flex-shrink: 0;
}

.drawerPaper {
	width: var(--drawerwidth);
}


/* Dropdown*/
.invite-person-icon-style{
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.invite-txt-style{
	padding:0px 48px 0px 4px ;
	color: var(--black);
}

.profile-pic-style{
	width:40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.lrnr-menubar{
    margin-top: 16px;
}

.lrnr-menubar .MuiPaper-elevation8{
    box-shadow: 0 2px 6px 0 rgba(33, 42, 57, 0.25)!important;
}

.lrnr-menuitem{
	padding:8px 80px 8px 16px!important;
	color: #212A39;
    font-size: 16px!important;
	font-family: 'Source Sans Pro', sans-serif!important;
	opacity: 0.75;
	;
}


/* ItemSwitchComponent */

.nav-header-style{
	padding: 24px 24px 0px 24px; 
	min-height: 90px;
}

.nav-header-style .item-text-style{
	font-size: 16px;
	padding: 16px 16px;
	text-align: center;
	padding-bottom: 4px;
	color: var(--black);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.nav-header-style .item-text-style:hover{
	opacity: 0.5;
}

.nav-header-style .active-menu{
	border-bottom: 4px solid red;
}

/* Sidebarnnodes */
.sidebar-border{
	min-height: calc(100vh - 90px)!important;
	background-color: rgba(210, 212, 216, 0.2);
	  border-right: 1px solid rgba(0, 0, 0, 0.12);
	  overflow-y: auto;
}


.sidebar-nodes-icon-align{
	display: flex;
	margin: 24px 24px;
    justify-content: flex-end;
}

.siderbar-nodes-icon-style{
	cursor: pointer;
	height: 19px;
	padding: 0px 8px;
}

.modal-add-item-title{
	
	margin-bottom:  35px;
	padding: 16px 40px!important;
	border: 0.75px solid rgba(33, 42, 57, 0.15);
}

.modal-add-item-txt{
    color: #212A39;
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 20px!important;
    font-weight: 600!important;
    line-height: 24px!important;
}

.modal-close-icon{
	float: right;
    position:  absolute;
    right:10px;
    top : 20px;
    cursor: pointer;
    color: rgb(177, 177, 177);
}

.modal-dialog-content .MuiTypography-body1{
    color: #212A39;
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 18px!important;
    font-weight: 600!important;
    line-height: 22px!important;
}

.modal-radio-control{
    border: 0 !important;
    background-color: rgba(0,0,0,0) !important;
}

.modal-input-field{
	padding:16px;
	color: #212A39;
	font-size: 16px!important;
	border-radius: 4px;
	background-color: #FFFFFF;
    border: 1.5px solid rgba(33, 42, 57, 0.25);
    border-radius: 4px;
    width: 100%;
    color: #212A39;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.add-item-btn{
	background-color: #255CA8;
    border-radius: 5px;
	float: right;
	min-width: 190px;
    height: 48px;
    color: white;
    font-size: 18px;
    font-weight: 600!important;
}

.container-nodes-head{
	color: #212A39;
	font-size: 16px;
	padding: 12px;
	width: 100%;
	/* background-color: rgba(207, 224, 235, 0.5); */
	border-left: 2px solid  rgba(99, 183, 240, 0.5);
	border-bottom: 1px solid  rgba(99, 183, 240, 0.5);
	border-radius: 5px;
	cursor: pointer;
	/* box-shadow: 0 2px 6px 0 rgba(205, 207, 211, 0.25)!important; */
}

.container-nodes-head:hover{
	background-color: rgba(198, 200, 202, 0.5);
}

.container-nodes-dropdown-arrow{
	width:12px;
	height:12px;
	margin-right:16px;
	cursor: pointer;
}

.padding-left{
	padding-left: 16px;
}

.container-active-node{
	background-color: #E94B35;
}


.MuiDialog-paperWidthSm{
	width: 500px;	
}

/* Editor content */

.editor-content{
	max-width: 880px;
	margin: 40px auto;
}

.editor-content-heading{
	font-size: 40px;
	font-weight: 600;
	color: #212A39;
	margin-bottom: 48px;
}

.editor-content-container{
	border-radius: 4px;
	padding: 24px;
	margin-bottom: 10px;
	border: 1px solid rgba(33, 42, 57, 0.15);
}

.editor-content .md-RichEditor-root {
	padding :0px !important;
}

.editor-content .md-RichEditor-editor .public-DraftEditor-content{
	min-height: auto;
}


@media (min-width: 600px ) and (max-width : 1788px){
 
    .lrnr-menubar .MuiList-padding{
        padding : 0px!important;
    }
}