body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif!important;
}
html::-webkit-scrollbar {
		width: 0px;
		background: transparent;
}
html::-webkit-scrollbar-thumb {
		background: transparent;
}
*{
	outline: none !important;
}
.no-select {
	-webkit-touch-callout: none !important;
		-webkit-user-select: none !important; 
			-khtml-user-select: none !important;
				-moz-user-select: none !important; 
				-ms-user-select: none !important;
						user-select: none !important;
}
:root {
	--background: rgba(207, 224, 235, 0.5) !important;
	--black: #212A39 !important;
	--blue : #255CA8 !important;
	--light-black: rgba(33, 42, 57, 0.75) !important;
	--red: #E94B35 !important;
	--ff-SourceSansPro : 'Source Sans Pro', sans-serif !important;
	--drawerwidth: 340px;
}

.float-right{
	float: right !important;
}
.float-left{
	float: left !important;
}
.dis-inline-block{
	display: inline-block !important;
}
.dis-flex{
	display: flex !important;
}
.dis-none{
	display: none !important;
}
.width-50{
	width: 50% !important;
}
.width-100{
	width: 100% !important;
}
.dis-block{
	display: block !important;
}
.text-align-left{
	text-align: left !important;
}
.text-align-right{
	text-align: right !important;
}
.text-align-center{
	text-align: center !important;
}
.black-txt{
	color: var(--black) !important;
}
.gray-txt{
	color: var(--light-black) !important;
}
.blue-txt{
	color: var(--blue) !important;
}

.center-all{
  display:flex !important;
  justify-content:center !important;
  align-items:center !important;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}


/* Main Body(Siderbars) */

.main-body{
	background-color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif!important;
}

.navbar-container{
	display: flex;
	min-height: 100vh;
}

.navbar-container .MuiToolbar-regular {
	min-height: 90px!important;
}

.navbar-container .makeStyles-drawerHeader-5{
	min-height: 32px!important;
}

.navbar-container .MuiAppBar-colorPrimary{
	color: var(--black);
	background-color: white;
}

.navbar-container .MuiPaper-elevation4 {
	/* box-shadow: none!important; */
	box-shadow: 0 2px 8px 0 rgba(141, 144, 150, 0.25);
  
}

.navbar-container .MuiDrawer-paperAnchorDockedLeft{
	border: none!important;
}

.sidebar-border{
	min-height: calc(100vh - 90px)!important;
	background-color: rgba(210, 212, 216, 0.2);
  	border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.drawer {
	width: var(--drawerwidth);
	flex-shrink: 0;
}

.drawerPaper {
	width: var(--drawerwidth);
}


/* Dropdown*/
.invite-person-icon-style{
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.invite-txt-style{
	padding:0px 48px 0px 4px ;
	color: var(--black);
}

.profile-pic-style{
	width:40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.lrnr-menubar{
    margin-top: 16px;
}

.lrnr-menubar .MuiPaper-elevation8{
    box-shadow: 0 2px 6px 0 rgba(33, 42, 57, 0.25)!important;
}

.lrnr-menuitem{
	padding:8px 80px 8px 16px!important;
	color: #212A39;
    font-size: 16px!important;
	font-family: 'Source Sans Pro', sans-serif!important;
	opacity: 0.75;
	;
}


/* ItemSwitchComponent */

.nav-header-style{
	padding: 24px 24px 0px 24px; 
	min-height: 90px;
	box-shadow: 0 2px 8px 0 rgba(141, 144, 150, 0.25);
}

.nav-header-style .item-text-style{
	font-size: 16px;
	padding: 16px 16px;
	text-align: center;
	padding-bottom: 4px;
	color: var(--black);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.nav-header-style .item-text-style:hover{
	opacity: 0.5;
}

.nav-header-style .active-menu{
	border-bottom: 4px solid red;
}

/* Sidebarnnodes */
.sidebar-nodes-margin{
	margin: 24px 24px;
}

.sidebar-nodes-icon-align{
	width: 100%;
	display: flex;
    justify-content: flex-end;
}

.siderbar-nodes-icon-style{
	cursor: pointer;
	height: 19px;
	padding: 0px 8px;
}



@media (min-width: 600px ) and (max-width : 1788px){
 
    .lrnr-menubar .MuiList-padding{
        padding : 0px!important;
    }
}